@model IEnumerable<LTT.Models.DataModels.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="index.html">Shop</a>
        </li>
        <li class="active">
            All Product 
        </li>
    </ol> <!-- end breadcrumbs -->
</div>


<!-- Catalogue -->
<section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
        <div class="row">

            <div class="col-md-9 catalogue-col right mb-50">

                <!-- Banner -->
                <div class="banner-wrap relative">
                    <img src="~/Assets/img/slider/perfurme02.jpg" alt="">
                    <div class="hero-holder text-center right-align">
                        <div class="hero-lines mb-0">
                            <h1 class="hero-heading white">Women Collection</h1>
                            <h4 class="hero-subheading white uppercase">HOT AND FRESH TRENDS OF THIS YEAR</h4>
                        </div>
                    </div>
                </div>

                <div class="shop-filter">
                    <p class="result-count">Showing: 1-12 of 80 results</p>

                    <form class="ecommerce-ordering">
                        <select>
                            <option value="default-sorting">Default Sorting</option>
                            <option value="price-low-to-high">Price: high to low</option>
                            <option value="price-high-to-low">Price: low to high</option>
                           
                        </select>
                    </form>
                </div>
                
                <div class="shop-catalogue grid-view left">

                    <div class="row row-10 items-grid">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-xs-6">

                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="#">

                                            <img src="@Html.DisplayFor(modelItem => item.ProductImage)" alt="">
                                        </a>
                                        <div class="product-actions">
                                            <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to Cart">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </div>
                                        <a href="@Url.Action("Details","ProductDetail", new { id = item.ProductId })" class="product-quickview">Quick View</a>
                                    </div>
                                    <div class="product-details">
                                        <h3>
                                            <a class="product-title" href="shop-single-product.html">
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </a>
                                        </h3>
                                        <span class="price">
                                            <ins>
                                                <span>
                                                    @Html.DisplayFor(modelItem => item.price)$
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        }
                    </div> <!-- end row -->
                        
                </div> <!-- end grid mode -->

                <div class="clear"></div>

                <!-- Pagination -->
                <div class="pagination-wrap">
                    <p class="result-count">Showing: 1-12 of 80 results</p>
                    <nav class="pagination right clear">
                        <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                            1
                        </span><a href="#">
                            2
                        </a><a href="#">
                            3
                        </a><a href="#">
                            4
                        </a><a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </nav>
                </div>

            </div> <!-- end col -->
            <!-- Sidebar -->
            <aside class="col-md-3 sidebar left-sidebar">

                <!-- Categories -->
                <div class="widget categories">
                    <h3 class="widget-title uppercase">Categories</h3>
                    <ul class="list-no-dividers">
                        <li>
                            <a href="#"><table style="padding-top:50px">
    @foreach (var item in Model)
    {

        <tr>
            <td> @Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
        </tr>

    }

</table></a>
                        </li>
                        
                        
                    </ul>
                </div>


                

                <!-- Bestsellers -->



            </aside> <!-- end sidebar -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section> <!-- end catalogue -->    