@model IEnumerable<LTT.Models.DataModels.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nav-wrap">
    <div class="collapse navbar-collapse" id="navbar-collapse">

        <ul class="nav navbar-nav">
            @foreach (var item in Model)
            {
                <li class="dropdown">
                    <a href="index.html">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a>
                </li>
            }
        </ul> <!-- end menu -->
    </div> <!-- end collapse -->
</div>
<!-- Hero Slider -->
<section class="section-wrap nopadding">
    <div class="container">
        <div class="entry-slider">
            <div class="flexslider" id="flexslider-hero">
                <ul class="slides clearfix">
                    <li>
                        <img src="~/Assets/img/slider/perfurme01.jpg" alt="">
                        <div class="img-holder img-1"></div>
                        <div class="hero-holder text-center right-align">
                            <div class="hero-lines">
                                <h1 class="hero-heading white">Collection 2017</h1>
                                <h4 class="hero-subheading white uppercase">HOT AND FRESH TRENDS OF THIS YEAR</h4>
                            </div>
                            <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/slider/perfurme02.jpg" alt="">
                        <div class="img-holder img-2"></div>
                        <div class="hero-holder text-center">
                            <div class="hero-lines">
                                <h1 class="hero-heading white large">Winter Sales</h1>
                            </div>
                            <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/slider/perfurme03.jpg" alt="">
                        <div class="img-holder img-3"></div>
                        <div class="hero-holder left-align">
                            <div class="hero-lines">
                                <h1 class="hero-heading white">Autumn 2017</h1>
                                <p class="white">A-ha Theme is the Best E-Commerce solution</p>
                                <p class="white">Packed with tons of features and unique styles</p>
                            </div>
                            <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                        </div>
                    </li>
                    <li>
                        <img src="~/Assets/img/slider/perfurme04.jpg" alt="">
                        <div class="img-holder img-4"></div>
                        <div class="hero-holder text-center right-align">
                            <div class="hero-lines">
                                <h1 class="hero-heading white">Summer 2017</h1>
                                <p class="white">A-ha Theme is the Best E-Commerce solution</p>
                                <p class="white">Packed with tons of features and unique styles</p>
                            </div>
                            <a href="#" class="btn btn-lg btn-white"><span>Shop Now</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- end slider -->
    </div>
</section> <!-- end hero slider -->
<!-- New Arrivals -->
<section class="section-wrap new-arrivals pb-40">
    <div class="container">

        <div class="row heading-row">
            <div class="col-md-12 text-center">
                <h2 class="heading uppercase"><small>New Arrivals</small></h2>
            </div>
        </div>

        <div class="row row-10">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="#">
                                <img src="@Html.DisplayFor(modelItem => item.ProductImage)" alt="">
                                <img src="@Html.DisplayFor(modelItem => item.ProductImage)" alt="" class="back-img">
                            </a>
                            <div class="product-label">
                                <span class="sale">For Man</span>
                            </div>
                            <div class="product-actions">
                                <a href="#" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                                    <i class="fa fa-exchange"></i>
                                </a>
                                <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                            <a href="@Url.Action("Details", "ProductDetail", new { id = item.ProductId })" class="product-quickview">Quick View</a>
                        </div>
                        <div class="product-details">
                            <h3>
                                <a class="product-title" href="shop-single-product.html">@Html.DisplayFor(modelItem => item.ProductName)</a>
                            </h3>
                            <span class="price">
                                <ins>
                                    <span class="ammount">@Html.DisplayFor(modelItem => item.price)</span>
                                </ins>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div> <!-- end row -->
    </div>
</section> <!-- end new arrivals -->