@model IEnumerable<LTT.Models.DataModels.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create new","Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" style="width:100px" alt="Alternate Text" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.ActionLink("Create", "Create", new { id = item.NewsId })
            @Html.ActionLink("Details", "Details", new { id = item.NewsId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsId })
        </td>
    </tr>
}

</table>
