@model LTT.Models.DataModels.Oder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Oder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeOder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeOder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
