@model IEnumerable<LTT.Models.DataModels.Oder>

@{
    ViewBag.Title = "Information Oder !";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeOder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeOder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OderId }) |
            @Html.ActionLink("Details", "Details", new { id = item.OderId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OderId })
        </td>
    </tr>
}

</table>
